<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        colors="true"
        verbose="true"
>
    <testsuites>
        <testsuite name="Webmozart Assert Test Suite">
            <directory>./tests/</directory>
            <exclude>./tests/static-analysis</exclude>
        </testsuite>
    </testsuites>

    <!-- Whitelist for code coverage -->
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
