# https://docs.github.com/en/actions

name: CI

on:
  pull_request: ~
  push:
    branches:
      - master

jobs:

  static-code-analysis:
    name: Static Code Analysis

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          coverage: none
          extensions: mbstring

      - name: Install dependencies
        run: >-
          composer install

      - name: Install tools
        run: >-
          composer run install-tools

      - name: Run code style check
        run: >-
          composer run cs-check

      - name: Run backwards compatibility check
        run: >-
          composer run bc-check

      - name: Run static analysis
        run: >-
          composer run static-analysis

  tests:
    name: Tests

    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-version:
          - "7.2"
          - "7.3"
          - "7.4"
          - "8.0"
          - "8.1"
          - "8.2"
          - "8.3"
          - "8.4"
          - "8.5"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.php-version }}"
          coverage: none
          extensions: mbstring
          tools: phpunit:8

      - name: Install dependencies
        run: composer install

      - name: Run unit tests
        run: phpunit

  windows-tests:
    name: Windows tests

    runs-on: windows-latest

    strategy:
      matrix:
        php-version:
          - "7.4"
          - "8.3"
          - "8.4"
          - "8.5"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "${{ matrix.php-version }}"
          coverage: none
          extensions: mbstring
          tools: phpunit:8

      - name: Install dependencies
        run: composer install

      - name: Run unit tests
        run: phpunit
